.hidden {
  display: none
}

.commentoptions-container {
  position: absolute;
}

.commentoptions-dropdown {
  border-radius: 5px;
  /* border: 0.5px solid rgb(58,59,61); */
  width: 120px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position:absolute;
  margin-left: 10px;
  left: 30px;
  top: -20px;
  padding-left: 0px;
  background-color: rgb(24,25,26);
  box-shadow: 1px 1px 1px rgb(56, 57, 59);
}

.commentoptions-edit, .commentoptions-delete {
  padding: 7px;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}

.commentoptions-edit:hover, .commentoptions-delete:hover {
  background-color: rgb(58,59,61);
}
