.sidebar-menu-container {
  width: 200px;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 50px;
  height: 100%;
  background-color: rgb(24,25,26);
  color: rgb(228,230,235);
  font-family: 'Ruda', sans-serif;
}

.sidebar-smaller-container {
  margin-top: 50px;
  margin-left: 10px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-link {
  cursor: pointer;
  text-decoration: none;
  color: rgb(228,230,235);

}

.sidebar-link:hover {
  background: linear-gradient(to right, #c4198a, #359ed1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 100%;
  background-position: 100%;
}

.sidebar-link.active {
  background: linear-gradient(to right, #c4198a, #359ed1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 100%;
  background-position: 100%;
}
