.userprofileposts-container {
  width: 750px;
  position: relative;
}

.userprofileposts-each-post {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(35,37,38);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
}

.userpost-photo {
  object-fit: contain;
  width: 100%;
  max-height: 500px;
}

.userpost-caption {
  padding: 5px;
  margin-top: 10px;
  word-wrap: break-word;
}

.userpost-profpic {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.userpost-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userpost-name-text {
  margin-left: 10px;
}

.userpost-date-text {
  margin-left: 10px
}

.userpost-comment-profpic {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.userpost-comment-name-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.userpost-each-comment-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userpost-each-comment {
  margin-left: 10px;
  background-color: rgb(58,59,61);
  padding: 15px;
  border-radius: 30px;
}

.userpost-like-comment-count, .userpost-like-comment-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}

.userpost-like-comment-count {
  width: 700px;
  border-bottom: 0.5px solid rgb(58,59,61);
  padding-bottom:7px;
}

.userpost-comments {
  margin-left: 300px;
}

.userpost-comments-text {
  margin-top: 10px;
  font-size: 20px;
  text-decoration: 0.5px underline;
}

.userpost-comment-createdat {
  font-size: 12px;
  margin-left: 5px;
}

.userpost-comment-link {
  color: white;
  text-decoration: none;
}

.userpost-comment-link:hover {
  color: white;
  text-decoration: underline;
}

.userpost-comment-content {
  max-width: 600px;
  word-wrap: break-word;
}
