.postfeed-container {
  position: absolute;
  top: 150px;
  left: 200px;
  right: 200px;
  bottom: 0;
  background-color: rgb(24,25,26);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

}

.postfeed-each-post-container {
  width: 850px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(35,37,38);
  border-radius: 20px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.postfeed-userpost-pic {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.postfeed-post-pic {
  width: 600px;
}

.feed-like-comment-count, .feed-like-comment-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}

.feed-like-comment-count {
  width: 700px;
}

.feed-comments {
  margin-left: 300px;
}

.feed-like-button, .feed-comment-button {
  width: 400px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;

}

.feed-like-button:hover, .feed-comment-button:hover {
  background-color: rgb(58,59,61);
  border-radius: 10px;
  cursor: pointer;
}

.feed-like-comment-buttons {
  width: 700px;
  border-bottom: 0.5px solid rgb(58,59,61);
  border-top: 0.5px solid rgb(58,59,61);
  margin-top: 10px;
}


.postfeed-propic-name-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 25px;

}

.postfeed-edit-delete {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 25px;
  margin-top: 15px;
}

.feedpost-caption-photo {
  margin-top: 50px;
}

.postfeed-name, .postfeed-time {
  margin-left: 10px;
}

.postfeed-name {
  text-decoration: none;
  color: rgb(228,230,235);
}

.postfeed-name:hover {
  text-decoration: underline;
}

.postfeed-time {
  font-size: 13px;
}

.postfeed-user-prof-link {
  text-decoration: none;
  color: rgb(228,230,235);
}

.postfeed-gear-icon, .postfeed-x-icon {
  font-size: 20px;
  padding: 2px;
  cursor: pointer;
}

.postfeed-editpost {
  background-color: rgb(35,37,38);
  color: white;
  border: none

}

.feed-like-text, .feed-comment-text {
  margin-left: 10px;
}

.feedpost-caption-text {
  width: 700px;
  margin-top: 20px;
  margin-bottom: 10px;
}
