.post-comment-container {
  display: flex;
  flex-direction: row;
  position: relative;
}


.post-comment-profpic {
  width: 50px;
  border-radius: 30px;
  height: 50px;

}

.post-comment-comment {
  background-color: rgb(58,59,61);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 20px;
  margin-bottom: 10px;
}
