.post-comment-container {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 5px;
  align-items: center;
}


.post-comment-profpic {
  width: 50px;
  border-radius: 30px;
  height: 50px;
  margin-right: 10px;
  /* margin-top: 7px; */

}

.post-comment-comment {
  background-color: rgb(58,59,61);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 12px;
  margin-top: 10px;
  max-width: 550px;
}


.postcomments-overall-container {
  width: 720px;
}

.post-comment-link {
  color: white;
  text-decoration: none;
}
.post-comment-content {
  font-size: 14px;
  word-wrap: break-word;
}

.post-comment-link:hover {
  color: white;
  text-decoration: underline;
}

.post-comment-options-div {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  position: relative;
  margin-top: 11px;
}

.post-comment-options-div:hover {
  background-color: rgb(58,59,61);
}

.post-comment-name-time {
  display: flex;
  flex-direction: row;
}

.post-comment-createdat {
  font-size: 10px;
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.feed-like-button, .feed-comment-button, .feed-liked {
  width: 400px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;

}

.feed-like-button:hover, .feed-comment-button:hover, .feed-liked:hover {
  background-color: rgb(58,59,61);
  border-radius: 10px;
  cursor: pointer;
}

.feed-like-comment-buttons {
  width: 700px;
  border-bottom: 0.5px solid rgb(58,59,61);
  border-top: 0.5px solid rgb(58,59,61);
  margin-top: 10px;
}


.feed-liked {
  background: linear-gradient(to right, #c4198a, #359ed1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 100%;
  background-position: 100%;
}
