.signupform-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(35,37,38);
  color: rgb(228,230,235);
  font-family: 'Ruda', sans-serif;
}

.signupform-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.signupform-signup {
  font-size: 40px;
}

.signupform-easy {
  font-size: 30px;
}

.signupform-form > input:focus {
  font-family: 'Ruda', sans-serif;
  outline: none
}

.signupform-email, .signupform-password, .signupform-confirm-password {
  background-color: rgb(58,59,61);
  border: none;
  color: rgb(228,230,235);
  height: 40px;
  width: 350px;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.signupform-form > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupform-name-container {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.signupform-fname, .signupform-lname {
  background-color: rgb(58,59,61);
  border: none;
  color: rgb(228,230,235);
  height: 40px;
  width: 170px;
  font-size: 20px;
  padding: 2px 1px 1px 2px;
  border-radius: 5px;
}
.signupform-lname {
  margin-left: 9px;
}

.signupform-email-pw-container {
  display: flex;
  flex-direction: column;
}

.signupform-fname::placeholder, .signupform-lname::placeholder, .signupform-email::placeholder,
.signupform-password::placeholder, .signupform-confirm-password::placeholder {
  padding-left: 8px;
}

.signupform-select-month, .signupform-select-year, .signupform-select-day {
  background-color: rgb(58,59,61);
  color: rgb(228,230,235);
  font-family: 'Ruda', sans-serif;
  width: 115px;
  height: 40px;
  font-size: 15px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 10px;
}

.signupform-bday-text {
  margin-left: 3px;
  margin-bottom: 5px;
}

.signupform-gender-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 350px;
}

.signupform-privacy {
  margin-bottom: 15px;
}

.signupform-signup-button {
  background-color: rgb(58,59,61);
  /* background: linear-gradient(to right, #c4198a, #359ed1); */
  color: rgb(228,230,235);
  font-family: 'Ruda', sans-serif;
  border: none;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.signupform-signup-button:hover {
  background: linear-gradient(to right, #c4198a, #359ed1);
  transition-property: background;
  transition-duration: 2s;
  border: 1px solid rgb(228,230,235);


}

.signupform-errors {
  list-style: none;
  color: rgb(218, 65, 65);
}

.signupform-signin {
  color: rgb(228,230,235);
  margin-top: 10px;
  font-size: 13px;
}

.signupform-logo {
  width: 500px;
}

.signupform-fname:focus, .signupform-lname:focus, .signupform-email:focus,
.signupform-password:focus, .signupform-confirm-password:focus, .signupform-select-month:focus,
.signupform-select-year:focus, .signupform-select-day:focus {
  outline: none;
}
