.userprofile-coverphoto-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  margin-top: 20px;
  background: linear-gradient(#efd6d6, #292a31);
}


.userprofile-profpic {
  width: 200px;
  height: 200px;
  border-radius: 150px;
}

.userprofile-container {
  background-color: rgb(24,25,26);
  font-family: 'Ruda', sans-serif;
  color: rgb(228,230,235);
  margin-top: 10px;
  margin-left: -10px;
  margin-bottom: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  height: 100%;

}

.userprofile-bio {
  width: 500px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(35,37,38);
  border-radius: 20px;
  padding: 15px;

}

.userprofile-posts-profpic {
  width: 50px;
  border-radius: 30px;
}

.userprofile-coverphoto {
  object-fit: cover;

}

.userprofile-profpic-name {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: left;
  width: 1200px;
  margin-top: -80px;
}

.userprof-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.userprof-name {
  margin-right: 10px;
  margin-top: 40px;
  font-size: 35px;
}

.userprof-bio-posts-container {
  display: flex;
  flex-direction: row;
}


.userprofile-intro-text {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.userprofile-bio > div {
  margin-top: 5px;
  margin-bottom: 5px;
}

.userprofile-posts-container {
  width: 700px;
  height: 100%;
}

.userprofile-photos {
  width: 500px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(35,37,38);
  border-radius: 20px;
  padding: 15px;
  margin-top: 15px;
}

.userprof-friends {
  font-size: 20px;
}

.userprofile-posts-text {
  font-size: 30px;
  background-color: rgb(35,37,38);
  width: 730px;
  border-radius: 20px;
  padding: 10px;
}
